<template>
  <div>
    {{obtenerSaludoFinal}}
  </div>
</template>

<script>
import { mapGetters } from "vuex";

export default {
  computed: {
    ...mapGetters(["obtenerSaludoFinal"]),
  },
};
</script>

<style>
</style>