<template>
  <div>
    <div v-if="!siguiente">
      <input type="text" v-model="dni" />
      <button @click="continuar()">Continuar</button>
    </div>
    <PasoTres v-if="siguiente" />
  </div>
</template>

<script>
import PasoTres from "./PasoTres.vue";
import { mapMutations } from "vuex";

export default {
  components: {
    PasoTres,
  },
  data() {
    return {
      dni: "",
      siguiente: false,
    };
  },
  methods: {
    ...mapMutations(["guardarDni"]),
    
    continuar() {
      this.guardarDni(this.dni);
      this.siguiente = true;
    },
  },
};
</script>

<style>
</style>