<template>
  <div>
    <div v-if="!siguiente">
      <div>
        <input type="text" v-model="nombre" />
      </div>

      <div>
        <input type="text" v-model="apellido" />
      </div>
      <button @click="continuar()">Continuar</button>
    </div>
    <paso-dos v-if="siguiente" />
  </div>
</template>

<script>
import PasoDos from "./PasoDos.vue";
import { mapMutations } from "vuex";

export default {
  components: {
    PasoDos,
  },
  data() {
    return {
      nombre: "",
      apellido: "",
      siguiente: false,
    };
  },
  methods: {
    ...mapMutations(["guardarApellido", "guardarNombre"]),

    continuar() {
      this.guardarApellido(this.apellido);
      this.guardarNombre(this.nombre);
      this.siguiente = true;
    },
  },
};
</script>

<style>
</style>