<template>
  <div id="app">
    <img alt="Vue logo" src="./assets/logo.png" />
    <div>
      <button v-if="!siguiente" @click="continuar()">
        CLick para comenzar
      </button>
    </div>
    <paso-uno v-if="siguiente" />
  </div>
</template>

<script>
import PasoUno from "./components/PasoUno.vue";

export default {
  data() {
    return {
      siguiente: false,
    }
  },
  components: {
    PasoUno,
  },
  methods: {
    continuar() {
      this.siguiente = true;
    },
  },
};
</script>

<style>
#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin-top: 60px;
}
</style>
